In [2]:
num = 3
num2 = 2
sum = num + num2
print(sum)
print(num2)

5
2

In [3]:
print("hello world")

hello world

In [17]:
x = 1
print(type(x))

y = 5.35
print(type(y))

z = 4 + 3j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [15]:
first_name = 'John'
last_name = 'Doe'
full_name = first_name +  " " + last_name
full_name2 = f"{first_name} {last_name}"
message = f"Hi my name is {first_name}. "
print(full_name)
print(full_name2)
print(message)
print(type(first_name))

John Doe
John Doe
Hi my name is John.
<class 'str'>

In [18]:
isStudent = True
print(type(isStudent))

<class 'bool'>

In [22]:
my_list = ['jane smith', 'John Doe', 'Bob the builder']
print(my_list)
print(type(my_list))

['jane smith', 'John Doe', 'Bob the builder']
<class 'list'>

In [21]:
my_tuple = ('jane smith', 'John Doe', 'Bob the builder')
print(my_tuple)
print(type(my_tuple))

('jane smith', 'John Doe', 'Bob the builder')
<class 'tuple'>

In [26]:
my_range = range(50)
print(list(my_range))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [28]:
my_dict = {
    "name": "Joh doe"
}
print(my_dict)
print(type(my_dict))

{'name': 'Joh doe'}
<class 'dict'>

In [30]:
my_list = {'sugar', 'salt'}
print(my_list)
print(type(my_list))

{'sugar', 'salt'}
<class 'set'>

int

In [18]:

import math
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

print(math.sqrt(64))
print(math.pi)
print(math.floor(3.141592653589793))
print(math.ceil(3.941592653589793))
print(math.pow(3, 3))
# print(math.pow(2, 3))
print(round(50.6564, 2))
print(abs(-19))
print(float(1567))

13
7
30
3.3333333333333335
3
1
1000
8.0
3.141592653589793
3
4
27.0
50.66
19
1567.0

In [20]:
num1 = float(input("Enter first number: ")) 
num2 = float(input("Enter second number: "))

sum = num1 + num2
print(sum)

11.0

In [ ]:
name = input("Enter your name")
age = int(input("Enter your age: "))
result = f"Hello, my name is {name}, and my age is {age}!"

print(result)

Hello, my name is edwin! and my age is 24

str

In [44]:
str1 = 'hello Python'
print(str1.upper())
print(str1.lower())
print(str1.title())
print(str1.swapcase())

str2 = '12ab'
str3 = " "
print(str2.isalnum())
print(str2.isalpha())
print(str3.isspace())

colors = "red, blue, green, yellow".split(",")
joined = " & ".join(colors)
print(colors)
print(joined)

HELLO PYTHON
hello python
Hello Python
HELLO pYTHON
True
False
True
['red', ' blue', ' green', ' yellow']
red &  blue &  green &  yellow

In [50]:
s = "Hello there, \nHow are you?"
print(s)

Hello there,
How are you?

exercises

In [51]:
user = input("Enter your name: ")
print(f"Hello {user}")

Hello chuck

In [54]:
hours = int(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
calculation = hours * rate
result = f"you will pay ${calculation}"
print(result)

you will pay $301.5

In [57]:
width = 17
height = 12.0

box1 = width//2
print(box1)
print(type(box1))

box2 = width/2.0
print(box2)
print(type(box2))

box3 = height/3
print(box3)
print(type(box3))

box4 = 1 + 2 * 5
print(box4)
print(type(box4))

8
<class 'int'>
8.5
<class 'float'>
4.0
<class 'float'>
11
<class 'int'>

In [ ]:
temp = float(input("Enter any temperature"))
fahrenheit = int(temp)
print(fahrenheit)

56

True

conditions

In [77]:
x = 5
y = 5

if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater that y')
else:
    print("x and y are equal")

x and y are equal

In [78]:
choice = "a"

if choice == 'a':
    print('you guessed a which is correct')
elif choice == 'b':
    print('bad choice')
elif choice == 'c':
    print('close, but not correct')

you guessed a which is correct

In [88]:
age = 50
if age < 13:
    print('You are a child')
elif age < 20:
    print('You are a teenager')
else:
    print('you are an Adult')

you are an Adult

In [89]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [92]:
n = int(input('How many time to to say Kasongo'))
for i in range(n):
    print("time")

time
time
time
time

loops

In [93]:
password = ""
while password != "pass123#":
    password = input("enter password")

print('Access Granted!')

Access Granted!